


img{
    width: 100%;
    border-radius: 0.5rem;
}

.container{
    width: min(1000px ,100%);
    margin: 0 auto;
    columns: 5 200px;
    column-gap: 1rem;
    /* column-rule: 2px solid #0022ce; */
}


input{
 padding: 10px 50px;
 accent-color: rgb(238, 1, 88);
 caret-color: #ee0158;
}